/node_modules
/public/hot
/public/storage
/public/js
/public/css
/resources/js/ziggy.js
/storage/*.key
/storage/dumps
/storage/*.index
/vendor
tools/php-cs-fixer/vendor
.php-cs-fixer.cache
.idea
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
